#animation-max {
  width: 155px;
  height: 155px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
}

#animation-min {
  width: 105px;
  height: 105px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
}

#animation {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 50%;
}